page-home 
{

.title{
    background-color: #049372;
    height: 55px;
    width: 340px;
    position: relative;
    border: none;
      }
.imageLogo {
  height: 45px;
  width:auto;
margin: auto;
display: block;
}

.fab {
    margin-top: 360px;
    margin-left: 230px;
    position: absolute;
}
}